<div class="jumbotron">
    
<h1>Sweta's App</h1>
<p>Welcome to Sweta's App </p>
<%link_to'About Us', home_about_path,class:'btn btn-primary'%>
<%link_to'Home', root_path,class: 'btn btn-primary'%>

</div>
